[
  {
    "name": "DATABASE_URL",
    "value": "postgresql://test:test@localhost:5433/test"
  },
  {
    "name": "PORT",
    "value": "5000"
  },
  {
    "name": "JWT_SECRET",
    "value": "acvpndqsghl=jhdpbnojkp23-avc"
  },
  {
    "name": "JWT_EXPIRES_IN",
    "value": "7d"
  }
]
